{% set body_class = "home-page" %}
{% extends "./_layout.html" %}

{% block content %}

<main class="main">


	<section class="gsap-to main__section" id="demo">
		<div class="container">
			<div class="gsap-to__wrapper">
				<img src="../images/gsap-logo.svg" alt="gsap logo" class="logo">

				<img src="../images/shield.png" alt="gsap logo" class="shield">
			</div>

		</div>

	</section>

	<section class="gsap-from main__section" id="demo">
		<div class="container">
			<div class="gsap-from__wrapper">
				<img src="../images/gsap-logo.svg" alt="gsap logo" class="gsap-from__logo">
				<div class="circle-row">
					<div class="circle-row__item"></div>
					<div class="circle-row__item"></div>
					<div class="circle-row__item"></div>
					<div class="circle-row__item"></div>
					<div class="circle-row__item"></div>
				</div>
			</div>

		</div>
	</section>

</main>

{% endblock %}
