{% set body_class = "home-page" %}
{% extends "./_layout.html" %}

{% block content %}

<main class="main">

	<section class="gsap-scrollTriger main__section">
		<div class="container">
			<h2 class="gsap-scrollTrigger__title">1</h2>
		</div>
	</section>

	<section class="gsap-scrollTriger main__section" id="green">
		<div class="container">
			<h2 class="gsap-scrollTrigger__title">2</h2>
		</div>
	</section>

	<section class="gsap-scrollTriger main__section">
		<div class="container">
			<h2 class="gsap-scrollTrigger__title">2</h2>
		</div>
	</section>


</main>

{% endblock %}
